<form action="/user/signin" method="POST">
  <fieldset>
    <legend>Sign Up</legend>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>
    <br>
    <button>Submit</button>
  </fieldset>
</form>

<!-- change form from sign up to login and from login to signup  -->
<p class="control-text"><span>Already registered?</span>
  <a href="#">login</a>
</p>

<script src="js/signup.js"></script>