<nav class="navbar">

  <div class="navbar-profile d-flex gap-2 p-3 align-items-center">
     <!-- user image  -->
    <div>
      <img src="<%= user?.image?.url || "https://www.gravatar.com/avatar/" %>" alt="avatar" />
    </div>

     <!-- username  -->
    <div>
      <%= (user?.name && user.name[0].toUpperCase() + user.name.slice(1,)) || user?.username || "None" %>
    </div>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <button class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"></button>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="/profile">
              <!-- <CgProfile /> -->
               My Profile
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/">
              <!-- <MdGroup /> -->
              Group Chat
            </a>
          </li>

          <li><hr class="dropdown-divider" /></li>

          <li class="dropdown-item logout-item">
            <a href="/user/logout" class="text-danger">
              Log Out
            </a>
          </li>
        </ul>

      </li>
    </ul>
  </div>
</nav>