<nav class="navbar">

  <div class="profile d-flex ms-auto">
     <!-- user image  -->
    <div>
      <img src="<%= user?.image?.url || "https://www.gravatar.com/avatar/" %>" alt="avatar" width="50" height="50" />
    </div>

     <!-- username  -->
    <div class='me-3'>
      <%= (user?.name && user.name[0].toUpperCase() + user.name.slice(1,)) || user?.username || "None" %>
    </div>

    <ul class="navbar-nav mb-2">
      <li class="nav-item dropdown">
        <button class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          dropdown
        </button>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="/profile">
              <!-- <CgProfile /> -->
               My Profile
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/">
              <!-- <MdGroup /> -->
              Group Chat
            </a>
          </li>

          <li><hr class="dropdown-divider" /></li>

          <li class="dropdown-item logout-item text-danger">
            <a href="/user/logout">
              <!-- delete icon  -->
              Log Out
            </a>
          </li>
        </ul>

      </li>
    </ul>
  </div>
</nav>