<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Auth</title>
</head>
<body>
 
  <% if (!user) { %>
    <!-- if user is not logged in show sign up or login form  -->
   <%- include('partials/form') %>
  <% }  else  { %>
    <!-- if user is login show user name  -->
    <%- include('chat-group/index') %>
  <% } %>

</body>
</html>