/* profile  */
.profile .profile-info,
.profile.edit .profile-edit {
  display: block;
}

.profile .profile-edit,
.profile.edit .profile-info {
  display: none;
}

/* profile navigation  */
.profile {
  padding-top: 8vh;
}

.profile .navbar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.profile .navbar .navbar-profile {
  margin-left: auto;
}

.profile-holder {
  width: 60%;
  min-width: 22rem;

  margin: auto;
}

/* profile info  */
.profile-info .card {
  margin: auto;
  margin-top: 2rem;

  border-radius: 1rem;
  width: 70%;
  background-color: var(--dark-black);
}


.card-header,
.card-body {
  padding: 1rem 4rem;
}

.card-header {
  padding-top: 1.25rem;
}

.card-header .btn {
  padding: 0.3rem 2rem;
  margin-left: 1rem;
}

.card-header .btn:hover {
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.2);
}

.card-body .row {
  margin-bottom: 1rem;
}

.card-body .col-4 {
  font-weight: 500;
  padding: 0;
}

.card-body .col-8 {
  opacity: 0.9;
}

.card-body .col-8 img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;

  border-radius: 1rem;
}

/* edit page  */
.back-button {
  color: var(--blue);

  font-weight: 500;
  display: flex;
  align-items: center;
}

.back-button:hover {
  color: var(--blue);
  text-decoration: underline;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.back-button svg {
  margin-right: 0.5rem;
}

.profile-edit {
  border-radius: 2rem;
  padding: 2rem;
  margin: 1rem auto;

  background-color: var(--dark-black);
  width: 70%;
}

.profile-edit .profile-edit-link {
  border: 1px solid var(--grey);
  color: inherit;
}

.edit-form {
  margin-top: 1.5rem;
}

.edit-form label {
  font-weight: 500;
}

.edit-form .btn {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (max-width:62.5rem) {
  .profile-holder {
    width: 80%;
  }
}

@media screen and (max-width:48rem) {
  .profile-holder {
    width: 90%;
  }

  .profile-info .card {
    width: 95%;
  }
}

@media screen and (max-width:34.375rem) {

  .card-header,
  .card-body {
    padding: 1rem;
  }

  .card-header {
    padding-top: 1.25rem;
  }
}