/* sidebar  */
.app__sidebar {
  width: 20vw;
  min-width: 6.25rem;
  height: 100%;

  background-color: var(--dark-black);
}

.sidebar__channels,
.sidebar__profile {
  height: 8vh;
  display: flex;
  align-items: center;
}

.sidebar__profile img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

/* hide and show sidebar items  */
.app__sidebar .sidebar__lists,
.app__sidebar.all-channels .sidebar__detail {
  display: none;
}

.app__sidebar.all-channels .sidebar__lists,
.app__sidebar .sidebar__detail {
  display: block;
  flex: 1;
  overflow: auto;
}

/* sidebar channels  */
.sidebar__channels>div {
  display: flex;
  align-items: center;
  gap: 2;
  width: 100%;
}

/* hide and show side bar different controls  */
.app__sidebar .sidebar__channels-add,
.app__sidebar.all-channels .sidebar__channels-back {
  display: none;
}

.app__sidebar.all-channels .sidebar__channels-add,
.app__sidebar .sidebar__channels-back {
  display: flex;
}

.sidebar-channels span {
  white-space: nowrap;
}