/* sidebar  */
.app__sidebar {
  width: 20vw;
  min-width: 18.75rem;
  height: 100%;

  display: flex;

  background-color: var(--dark-black);
}

/* sidebar elements padding  */
.sidebar__channels,
.sidebar__lists,
.sidebar__detail {
  padding: 1rem;
}

.sidebar__channels,
.sidebar__profile {
  height: 8vh;
  display: flex;
  align-items: center;
}

.sidebar__channels {
  border-bottom: 2px solid var(--dark-black2);
}

.sidebar__profile img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

/* hide and show sidebar items  */
.app__sidebar .sidebar__lists,
.app__sidebar.all-channels .sidebar__detail {
  display: none;
}

.app__sidebar.all-channels .sidebar__lists,
.app__sidebar .sidebar__detail {
  display: block;
  flex: 1;
  overflow: auto;
}

/* sidebar channels  */
.sidebar__channels>div {
  display: flex;
  align-items: center;
  gap: 2;
  width: 100%;
}

/* hide and show side bar different controls  */
.app__sidebar .sidebar__channels-add,
.app__sidebar.all-channels .sidebar__channels-back {
  display: none;
}

.app__sidebar.all-channels .sidebar__channels-add,
.app__sidebar .sidebar__channels-back {
  display: flex;
}

/* sidebar show all channels  */

/* sidebar channel add button  */
.channels__add-btn {
  margin-left: auto;
  background-color: var(--light-black);
  padding: 0.2rem 0.5rem;
  transition: all 0.3s linear;
}

.channels__add-btn:hover {
  opacity: 0.95;
  box-shadow: 0 0 10px var(--black);
}

/* search form  */
.input-group-text {
  background-color: var(--light-black);
  border-right: 0;
}

/* channel names list  */
.sidebar__lists-channel {
  margin-top: 2rem;
}

.list__channels-name a {
  text-decoration: none;
  color: inherit;

  margin-bottom: 1rem;
}

.list__channels-name span {
  white-space: nowrap;
  background-color: var(--light-black);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  width: 2.4rem;
  text-align: center;
  font-weight: 700;
}

.list__channels-name a:hover span {
  box-shadow: 0 0 5px var(--light-black);
}

/* sidebar show one channel detail  */

/* sidebar channels back  */
.channels__back-btn:hover {
  opacity: 0.95;
  box-shadow: 0 0 10px var(--black);
}

.channels__back-btn {
  margin-right: 0.5rem;
}

.sidebar__detail strong {
  text-transform: uppercase;
  font-weight: 700;

  display: inline-block;
  margin-bottom: 0.3rem;
}

.sidebar__detail p {
  color: var(--grey);
}

.sidebar__detail img {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.sidebar-members div {
  margin-bottom: 1rem;
}

.app__sidebar .position-absolute {
  display: none;
}

/* for small screen  */
@media screen and (max-width: 50rem) {
  .app__sidebar {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 80vw;
    height: 100vh;
    z-index: 10000000000;
  }

  .position-absolute {
    top: 1rem;
    right: -4rem;
    background-color: var(--dark-black);
    padding: 0.5rem 1rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .position-absolute:hover {
    box-shadow: 0 0 3px var(--grey);
  }
}