/* sidebar  */
.app__sidebar {
  width: 20vw;
  min-width: 6.25rem;
  height: 100%;

  background-color: var(--dark-black);
}

.sidebar__channels,
.sidebar__profile {
  height: 8vh;
  display: flex;
  align-items: center;
}

.app__sidebar .sidebar__lists,
.app__sidebar.all-channels .sidebar__detail {
  display: none;
}

.app__sidebar.all-channels .sidebar__lists,
.app__sidebar .sidebar__detail {
  display: block;
  flex: 1;
  overflow: auto;
}

.sidebar__profile img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

/* sidebar lists  */
.sidebar-channels span {
  white-space: nowrap;
}