<form>
  <div class="input-group mb-3">
    <span class="input-group-text" id="search-icon">
      <!-- <RxMagnifyingGlass class='mag-icon' /> -->
    </span>
    <input type="text" class="form-control" placeholder="Search" aria-label="search item"
      aria-describedby="search-icon"  />
  </div>
</form>