<strong><%= channelInfo.name %></strong>
<p><%= channelInfo?.description %></p>
<strong>MEMBERS</strong>
<div class="sidebar-members">
  <% for( let member of channelInfo?.members ) { %>
  <div class="d-flex gap-2">
    <img src="<%= member.image %>" alt="avatar">
    <p><%= member.name %></p>
  </div>
  <% } %>
</div>