<div class='app__sidebar d-flex flex-column'>
  <div class="sidebar__channels">

    <div class="sidebar__channels-add">
      <strong>Channels</strong>
      <button class='btn channels__add-btn'>
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <div class="sidebar__channels-back">
      <button class='btn channels__back-btn'>
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <strong>All Channels</strong>
    </div>
  </div>
  <div class="sidebar__lists">
    <%- include('./channelSearchForm.ejs') %>
    <div class="sidebar__lists-channel">
      <%- include('./sidebarChannels.ejs') %>
    </div>
  </div>
  <div class="sidebar__detail">
    <%- include('./channelMembers.ejs') %>
  </div>
  <div class="sidebar__profile w-100">
    <%- include('../../partials/nav') %>
  </div>
</div>

<script src="/js/sidebarOption.js"></script>