<div class='app__sidebar flex-column'>
  <div class="sidebar__channels">
    <!-- display only one control add or back  -->
    <div class="sidebar__channels-add">
      <strong>Channels</strong>
      <button class='btn channels__add-btn'>
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <div class="sidebar__channels-back">
      <button class='btn channels__back-btn'>
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <strong>All Channels</strong>
    </div>
  </div>

  <!-- display sidebar list or detail  -->
  <div class="sidebar__lists">
    <%- include('./channelSearchForm.ejs') %>
    <div class="sidebar__lists-channel">
      <%- include('./sidebarChannels.ejs') %>
    </div>
  </div>
  <div class="sidebar__detail">
    <%- include('./channelMembers.ejs') %>
  </div>

  <!-- current user profile  -->
  <div class="sidebar__profile w-100">
    <%- include('../../partials/nav') %>
  </div>

  <div class="position-absolute">
    <i class="fa-solid fa-xmark"></i>
  </div>
</div>
