<div class="sidebar-channels">
  <%  for (let channel of channels)  { %>
    <p class='d-flex align-items-center'>
      <span class='me-3'>
        <%= channel.name.toUpperCase().split(" ").map(c => c[0].toUpperCase()).slice(0, 2).join(" ") %>
      </span>
      <%= channel.name %>
    </p>
  <% } %>
</div>
