<article class="channel-form-holder p-5">
  <h3>New Channel</h3>
  <form class="needs-validation add-channel-form" method="get" action="/channel/add" novalidate>
    <input type="text" class="form-control" placeholder="Channel name" name="name" required>
    <br>
    <textarea name="description" cols="30" rows="10" placeholder="Channel Description" class="form-control"></textarea>
    <br>
    <button type="button"
     class="btn btn-outline-secondary channel-not-add" >Cancel</button>
    <button type="submit" class="btn btn-primary channel-not-add">Save</button>
  </form>
</article>