<article class="channel-form-holder p-5">
  <h3>New Channel</h3>
  <form action="/channel/add" method="post" class="needs-validation" novalidate>
    <input type="name" class="form-control" placeholder="Channel name" required>
    <br>
    <textarea name="description" cols="30" rows="10" placeholder="Channel Description" class="form-control"></textarea>
    <br>
    <button class="btn btn-outline-secondary channel-not-add">Cancel</button>
    <button class="btn btn-primary">Save</button>
  </form>
</article>