<main class="d-flex vh-100">
  <h1 class="visually-hidden">Group chat</h1>
  <div class="sidebar">
    <%- include('./sidebar/index') %>
  </div>
  <div class="main-content">
    main content
  </div>
</main>