<div class="d-flex h-100">
  <div class="sidebar">
    <%- include('./sidebar/index') %>
  </div>
  <div class="main-content">
    main content
  </div>
  <div class="new-channel">
    <%- include('./channelAddModal') %>
  </div>
</main>